@model List<ResultOfferDiscountDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}
<div class="col-md-12">
    <div class="chart-box">
        <h4>İndirimler</h4>
        <p>MultiShop için Özel Teklif işlemleri buradan yapılmaktadır.</p>
        <div class="bs-example" data-example-id="bordered-table">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Teklif Adı</th>
                        <th>Alt Başlık</th>
                        <th>Görsel</th>
                        <th>Sil</th>
                        <th>Güncelle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <th scope="row">@count</th>
                            <td>@item.Title</td>
                            <td>@item.SubTitle</td>
                            <td>@item.ImageUrl</td>
                            <td><a href="/Admin/OfferDiscount/DeleteOfferDiscount/@item.OfferDiscountId" class="btn btn-danger">Sil</a></td>
                            <td><a href="/Admin/OfferDiscount/UpdateOfferDiscount/@item.OfferDiscountId" class="btn btn-warning">Güncelle</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="/Admin/OfferDiscount/CreateOfferDiscount" class="btn btn-primary">Yeni Teklif Ekle</a>
        </div>
    </div>
</div>

