@model List<ResultSpecialOfferDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}
<div class="col-md-12">
    <div class="chart-box">
        <h4>İndirimler</h4>
        <p>MultiShop için İndirim işlemleri buradan yapılmaktadır.</p>
        <div class="bs-example" data-example-id="bordered-table">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Kupon Kodu</th>
                        <th>Oranı</th>
                        <th>Geçerlilik Tarihi</th>
                        <th>Sil</th>
                        <th>Güncelle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <th scope="row">@count</th>
                            <td>@item.CouponCode</td>
                            <td>@item.Rate</td>
                            <td>@item.ValidDate</td>
                            <td><a href="/Admin/SpecialOffer/DeleteSpecialOffer/@item.CouponId" class="btn btn-danger">Sil</a></td>
                            <td><a href="/Admin/SpecialOffer/UpdateSpecialOffer/@item.CouponId" class="btn btn-warning">Güncelle</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="/Admin/SpecialOffer/CreateSpecialOffer" class="btn btn-primary">Yeni İndirim Ekle</a>
        </div>
    </div>
</div>

