<div class="tab-pane fade show active" id="tab-pane-1">
    <h4 class="mb-3">Ürün Açıklaması</h4>
    <p>Koşu Yaparken ve gündelik kullanımda ayağınızın rahatlığını düşünüyorsanız tam size göre bir ayakkabı</p>
    <p>Dolore magna est eirmod sanctus dolor, amet diam et eirmod et ipsum. Amet dolore tempor consetetur sed lorem dolor sit lorem tempor. Gubergren amet amet labore sadipscing clita clita diam clita. Sea amet et sed ipsum lorem elitr et, amet et labore voluptua sit rebum. Ea erat sed et diam takimata sed justo. Magna takimata justo et amet magna et.</p>
</div>
