@model UpdateBrandDto
@{
    ViewData["Title"] = "UpdateBrand";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}
<div class="col-md-12">
    <div class="chart-box">
        <h4>Marka Ekleme</h4>
        <div class="bs-example" data-example-id="bordered-table">
            <form method="post">
                <input type="hidden" asp-for="BrandId" />
                <label>Marka Adı</label>
                <input type="text" class="form-control" asp-for="BrandName" />
                <br />
                <label>Logo</label>
                <input type="text" class="form-control" asp-for="ImageUrl" />
                <br />
                <button class="btn btn-primary">Güncelle</button>
            </form>
        </div>
    </div>
</div>

